#content {
  padding: 1rem 1rem 0 1rem;
}
#gridcontainer {
  /* border:1px solid red; */
  display: grid;
}
#gridcontainer * {
  /* border:1px solid blue; */
  overflow: hidden;
}

#selfpic {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}

#info {
  padding: 1rem;
  overflow: visible;
}
#info span {
  display: block;
}
#info #name {
  font-size: 3rem;
  color: var(--col1);
  font-weight: bold;
}
#info #pos {
  font-size: 1.25rem;
}
#info #uni {
  font-size: 1.75rem;
}
#info #email {
  margin-top: 1rem;
}
#info #detailed_info {
  text-align: justify;
}
#info #cv_link {
  text-align: center;
  display:flex;
  justify-content: center;
  width:100%;
}
#cv_link a {
  border: 1px solid var(--col1);
  text-decoration: none;
  color: var(--col1);
  padding: 1rem 2rem;
}
@media only screen and (max-width: 820px) {
  #info #email img {
    width: 100%;
  }
}
@media only screen and (min-width: 820px) {
  #info {
    padding: 0 0 0 3rem;
  }
  #content {
    padding: 3rem 5rem 5rem 8rem;
  }
  #gridcontainer {
    grid-template-columns: 25% 75%;
  }
}
